<div class="container">
  <h4>Log in</h4>
  <p>Please provide your email and password.</p>
  <hr/>

<div class="row">
    <div class="col-md-8 col-xs-12">
  <%= form_tag sessions_path do %>
    <div class="form-group">
      <%= label_tag :email %><br />
      <div class="input-group">
              <div class="input-group-addon">@</div>     
      <%= email_field_tag :email, params[:email], class: 'form-control' %>
      </div>
      </div>
      <div class="form-group">
        <%= label_tag :password %><br />
        <%= password_field_tag :password, nil, class: 'form-control' %>
        </div>
        <%= submit_tag "Log in", class: 'btn btn-primary' %>
        <% end %>
      </div>

                  <div class="col-md-4 hidden-sm hidden-xs" style="background-color: #F9F9F9;">
                    <br/>
                    <img src='/assets/note.png' width='28'>
                    <p align="center" style='margin-top: -24px;'><strong>Take note:</strong></p>
                    <hr/>
                    <ul>
                    <li>Use the advanced search option on any grid to build your own search criteria.</li>
                    <p></p>
                    <li>Take full advantage of the customisable views</li>
                    </ul>
                     <br/>
                     <br/>
                  </div>

                </div>
</div>

