<div class="container">
  <h4>Sign up your organisation with Cloud Service</h4>
  <p>The best mobile service solution for your organisation.</p>

  <hr/>

  <%= form_for @organisation do |f| %>
    <% if @organisation.errors.any? %>
      <div class="panel panel-danger">
        <div class="panel-heading"><%= pluralize(@organisation.errors.count, "error") %> prohibited the sign up of this organisation:</div>

        <div class="panel-body">
          <% @organisation.errors.full_messages.each do |msg| %>
            <div><%= msg %></div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, "Organisation Name" %><br />
      <%= f.text_field :name, class: 'form-control' %>
      </div>
    <hr/>
      <%=  f.fields_for :users do |u| %>
        <div class="form-group">
          <%= u.label :email %><br />
          <%= u.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= u.label :name %><br />
            <%= u.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= u.label :surname %><br />
              <%= u.text_field :surname, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= u.label :password %><br />
                <%= u.password_field :password, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= u.label :password_confirmation %><br />
                  <%= u.password_field :password_confirmation, class: 'form-control' %>
                  </div>
                <% end %>

                <%= f.submit "Sign up", class: 'btn btn-primary' %>


                <% end %>
              </div>

